/* ===== AFFICHAGE 16:9 ===== */

@media (min-width: 1000px) {

  body {
    min-height: 100vh;
    margin: 0;
  }

  .container {
    width: min(96vw, 1600px);
    min-height: calc(96vw * 0.5625);
    max-height: 900px;

    margin: 0 auto;
    padding: 40px 50px;
  }

  header {
    margin-bottom: 20px;
  }

  h1 {
    font-size: clamp(2.5rem, 4vw, 4rem);
  }

  .stats {
    grid-template-columns: repeat(4, 1fr);
    margin: 20px 0;
  }

  .podium {
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 0;
  }

  .ranking {
    margin-top: 20px;
  }

}
